name: ~branch-release

on:
  workflow_call:
    inputs:
      branch:
        description: The branch to release
        required: false
        type: string

permissions:
  contents: write
  packages: write

env:
  GIT_USER_NAME: Fra Bot
  GIT_USER_EMAIL: fragoibot@gmail.com
  V_MAJOR: 0
  V_MINOR: 0

jobs:

  release:
    runs-on: ubuntu-latest
    env:
      NEW_VERSION:
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}
      - uses: fragoi/bash-actions@v2

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          createRelease

      - name: Export version
        run: |
          exportSharedVars NEW_VERSION

      - name: Build and publish image
        if: ${{ env.NEW_VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dockerBuildAndPublish fragoi/debuild ${NEW_VERSION}
