name: Build and publish

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

env:
  GIT_USER_NAME: Fra Bot
  GIT_USER_EMAIL: fragoibot@gmail.com
  V_PATCH: 1

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: fragoi/bash-actions@main

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          createRelease

      - name: Build image
        run: |
          docker build -t ghcr.io/fragoi/debuild:$(getVersion) .

      - name: Login to registry
        run: |
          docker login ghcr.io \
            --username "$GIT_USER_NAME" \
            --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"

      - name: Push image
        run: |
          docker push ghcr.io/fragoi/debuild:$(getVersion)
