name: Build and publish

on:
  push:
    branches:
      - main
      - LTS
    paths-ignore:
      - .github/**
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  GIT_USER_NAME: Fra Bot
  GIT_USER_EMAIL: fragoibot@gmail.com
  V_MAJOR: 1
  V_MINOR: 1
  V_PATCH: 1

jobs:

  release:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.exportVersion.outputs.NEW_VERSION }}
    steps:
      - uses: actions/checkout@v6
      - uses: fragoi/bash-actions@main
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          createRelease
      - name: Export version
        id: exportVersion
        run: |
          outputSharedVars NEW_VERSION

  build-and-publish:
    needs: [release]
    runs-on: ubuntu-latest
    if: ${{ needs.release.outputs.new_version }}
    env:
      NEW_VERSION: ${{ needs.release.outputs.new_version }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: v${{ env.NEW_VERSION }}

      - name: Build image
        run: |
          docker build -t ghcr.io/fragoi/debuild:${NEW_VERSION} .

      - name: Login to registry
        run: |
          docker login ghcr.io \
            --username "$GIT_USER_NAME" \
            --password-stdin <<< "${{ secrets.GITHUB_TOKEN }}"

      - name: Push image
        run: |
          docker push ghcr.io/fragoi/debuild:${NEW_VERSION}
